## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider
.idea/

## NuGet
*.nupkg
*.snupkg
packages/

## Test results
TestResults/
*.trx

## Database
*.mdf
*.ldf

## OS files
.DS_Store
Thumbs.db
